//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

#app-root-2022-black_sea_grain_initiative .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 1000px;
  margin: auto auto;
  h1 {
    text-align: center;
  }
  .total_container {
    background-color: #f1f1f1;
    border-radius: 50%;
    border: 10px solid #009edb;
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    margin: auto auto 20px auto;
    text-align: center;
    width: 250px;
    h4 {
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 5px 0;
    }
    h3 {
      font-size: 30px;
      margin: 0 0 5px 0;
    }
  }
  .commodities_container {
    margin-bottom: 20px;
    display: flex;
    > div {
      background-color: #f1f1f1;
      border-radius: 50%;
      border: 10px solid #009edb;
      display: flex;
      flex-direction: column;
      height: 180px;
      justify-content: center;
      margin: auto auto 20px auto;
      padding: 5px;
      text-align: center;
      width: 180px;
      h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 0px 0;
      }
      h3 {
        font-size: 20px;
        margin: 0 0 5px 0;
      }
    }
  }
  .dashboard_chart {
    margin-bottom: 5px;
    svg {
      height: 30px;
      width: 160px;
      .line_container {
        height: 30px;
        .line {
          fill: none;
          stroke-width: 2.5;
          stroke: #ED1847;
        }
      }
    }
  }
  iframe {
    border: none;
    margin-bottom: 20px;
    min-width: 100% !important;
    width: 0;
  }
}

@import 'basics.less';